* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; background-color: #619ED7} /* just to be sure these are full screen*/

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 100%;
	-ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    height: 100%;
}
